
#cardItem {
  width: 350px;
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box; 
  border: 2px solid white;
  height: 350px;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  position: relative; 
  margin: 0 auto; 
  margin-top: 30px;
}

.card-text {
  color:black;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #f6a912;
}

.cartbtn {
  top: 300px;
  left: 150px;
  position: absolute;
}

.deletebtn {
  top: 300px;
  left: 191px;
  position: absolute;
}

.contactbtn {
  top: 300px;
  left: 15px;
  position: absolute;
}