nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .navbar {
    background-color: #01DA20;
  }

  .navbar-brand {
    color: white;
  }

  .nav-link {
    color: white;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  