nav.navbar.navbar-default {
    margin-bottom: 0;
  }

  .navbar {
    background-color: #01DA20;
  }

  h2 {
    color: white;
    font-family: 'Fredoka One', cursive;
  }

.login {
  float: right;
}

.logo {
  white-space: nowrap;
}